{% extends 'base.html' %}
{% load static %}

{% block title %}Accademics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div id="list-example" class="list-group">
            {% for accademic in accademics %}
            <a class="list-group-item list-group-item-action" href="#{{ accademic.type }}">{{ accademic.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            {% for accademic in accademics %}
            <h4 id="{{ accademic.type }}">{{ accademic.name }}</h4>
            <p>{{ accademic.description }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .list-group-item.active {
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

    .scrollspy-example {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .scrollspy-example h4 {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block script %}
<script>
    // Ajoute la classe "active" au lien correspondant à l'académie actuellement visible dans la section défilante
    document.addEventListener('DOMContentLoaded', function () {
        const scrollspyExample = document.querySelector('.scrollspy-example');
        const links = document.querySelectorAll('#list-example a');

        function setActiveLink() {
            const sections = document.querySelectorAll('.scrollspy-example h4');

            sections.forEach((section) => {
                const rect = section.getBoundingClientRect();

                if (rect.top >= 0 && rect.top <= window.innerHeight) {
                    const activeLink = document.querySelector(`#list-example a[href="#${section.id}"]`);

                    links.forEach((link) => {
                        link.classList.remove('active');
                    });

                    activeLink.classList.add('active');
                }
            });
        }

        scrollspyExample.addEventListener('scroll', setActiveLink);
        setActiveLink();
    });
</script>
{% endblock %}
