{% extends 'base.html' %}
{% load static %}
{% block style %}
   <style>
    .emoji {
      font-size: 24px;
      margin-right: 5px;
    }
  </style>
{% endblock %}
{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container">
    <h1>Page avec style et emojis</h1>
    <p>Cette fonctionnalité n'est pas disponible pour l'instant. 😞</p>
    <p>Vous pouvez utiliser des emojis pour exprimer vos émotions :</p>
    <p><span class="emoji">😄</span>Heureux</p>
    <p><span class="emoji">😢</span>Triste</p>
    <p><span class="emoji">😍</span>Amoureux</p>
    <p><span class="emoji">🤔</span>Pensif</p>
  </div>
{% endblock %}
