{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/fonts/material-design-iconic-font/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
{% endblock %}

{% block title %}
Register
{% endblock %}
{% block content %}
<div class="wrapper">
    <form method="post" action="{% url 'home:index' %}" id="wizard">
        <!-- SECTION 1 -->
        {% csrf_token %}
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
        {% if messages %}
            {% for message in messages %}
            <div class="toast align-items-center text-white alert alert-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <h2></h2>
        <section>
            <div class="inner">
                <div class="image-holder">
                    <img src="{% static 'assets/img/background/bg6.jpeg' %}" alt="">
                </div>
                <div class="form-content" >
                    <div class="form-header">
                        <h3>Registration</h3>
                    </div>
                    <p>Merci de remplir vos coordonnées</p>
                    <div class="form-row">
                        <div class="form-holder">
                            {{ form.first_name }}
                        </div>
                        <div class="form-holder">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-holder">
                            {{ form.email }}
                        </div>
                        <div class="form-holder">
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-holder">
                            {{ form.age }}
                        </div>
                        <div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
                            <div class="checkbox-tick">
                                <label class="male">
                                    <input type="radio" name="gender" value="male" checked> Male<br>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="female">
                                    <input type="radio" name="gender" value="female"> Female<br>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
{#                    <div class="checkbox-circle">#}
{#                        <label>#}
{#                            <input type="checkbox" class="hidden me-4" checked>#}
{#                            <span class="checkmark ml-3 mr-3"></span>#}
{#                            Ces valleurs doit être obligatoire#}
{#                        </label>#}
{#                    </div>#}
                </div>
            </div>
        </section>

        <!-- SECTION 2 -->
        <h2></h2>
        <section>
            <div class="inner">
                <div class="image-holder">
                    <img src="{% static 'assets/img/background/bg3.jpeg' %}" alt="">
                </div>
                <div class="form-content">
                    <div class="form-header">
                        <h3>Registration</h3>
                    </div>
                    <p>Veuillez remplir avec des informations supplémentaires</p>
                    <div class="form-row">
                        <div class="form-holder w-100">
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-holder">
                            {{ form.city }}
                        </div>
                        <div class="form-holder">
                            {{ form.zip_code }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="select">
                            <div class="form-holder">
                                <div class="select-control">{{ form.country }}</div>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                        </div>
                        <div class="form-holder"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION 3 -->
        <h2></h2>
        <section>
            <div class="inner">
                <div class="image-holder">
                    <img src="{% static 'assets/img/background/bg4.jpeg' %}" alt="">
                </div>
                <div class="form-content">
                    <div class="form-header">
                        <h3>Registration</h3>
                    </div>
                    <p>Envoyer un message facultatif</p>
                    <div class="form-row">
                        <div class="form-holder w-100">
                            {{ form.message }}
                        </div>
                    </div>
{#                    <div class="checkbox-circle mt-24">#}
{#                        <label>#}
{#                            <input type="checkbox" checked>  Please accept <a href="#">terms and conditions ?</a>#}
{#                            <span class="checkmark"></span>#}
{#                        </label>#}
{#                    </div>#}
                </div>
            </div>
        </section>
    </form>
</div>
    <!-- Contact End -->
{% if messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% for message in messages %}
      <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        {% if message.tags == 'warning' %}
        <div class="toast-header text-white bg-danger">
          <i class="fas fa-exclamation-triangle me-2"></i> <!-- Icône pour un avertissement -->
        {% else %}
        <div class="toast-header text-white bg-success">
          <i class="fas fa-check-circle me-2"></i> <!-- Icône pour une réussite -->
        {% endif %}
          <strong class="me-auto">{{ message.tags|upper }}</strong>
          <small>{{ message.timestamp }}</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
    {% endfor %}
</div>
{% endif %}

<!-- JQUERY -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- JQUERY STEP -->
<script src="js/jquery.steps.js"></script>
<script src="js/main.js"></script>
<!-- Template created and distributed by Colorlib -->


{% endblock %}
{% block script %}
<script src="{% static 'dist/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'dist/js/jquery.steps.js' %}"></script>
<script src="{% static 'dist/js/main.js' %}"></script>
{% endblock %}
