<!-- Topbar Start -->
<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
  <div class="row gx-0 d-none d-lg-flex">
    <div class="col-lg-6 px-5 text-start">
          {% for address in addresses %}
      <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-map-marker-alt text-primary me-2"></small>
            <small>{{ address.lot }} {{ address.street }} {{ address.city }}</small>
      </div>
          {% endfor %}
      <div class="h-100 d-inline-flex align-items-center py-3">
        <small class="far fa-clock text-primary me-2"></small>
        <small>{{ hours }}</small>
      </div>
    </div>
    <div class="col-lg-6 px-5 text-end">
        {% for con in contacts %}
      <div class="h-100 d-inline-flex align-items-center py-3 me-4">
        <i class="{{ con.type }}"></i>
        <small>{{ con.contact }}</small>
      </div>
        {% endfor %}

      <div class="h-100 d-inline-flex align-items-center">
        {% if socials %}
          {% for social in socials %}
        <a class="btn btn-sm-square bg-white text-primary me-1" href="{{ social.url }}"
          ><i class="{{ social.social_type }}"></i
        ></a>
          {% endfor %}
        {% else %}
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""
          ></a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->