{% extends 'base.html' %}
{% load static %}
{% block title %}
Price
{% endblock %}
{% block content %}
<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top">Team</h2>
            <h4 class="light muted">We're a dream team!</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url({% static 'assets/img/background/bg6.jpeg' %}); background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white">$69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <img src="{% static 'assets/img/background/bg6.jpeg' %}" alt="Team Image" class="avatar small-image">
                    <div class="title">
                        <h4>Ben Adamson</h4>
                        <h5 class="muted regular">Fitness Instructor</h5>
                    </div>
                    <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url({% static 'assets/img/background/bg6.jpeg' %}); background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white">$69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <img src="{% static 'assets/img/background/bg6.jpeg' %}" alt="Team Image" class="avatar small-image">
                    <div class="title">
                        <h4>Eva Williams</h4>
                        <h5 class="muted regular">Personal Trainer</h5>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url({% static 'assets/img/background/bg6.jpeg' %}); background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white">$69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <img src="{% static 'assets/img/background/bg6.jpeg' %}" alt="Team Image" class="avatar small-image">
                    <div class="title">
                        <h4>John Phillips</h4>
                        <h5 class="muted regular">Personal Trainer</h5>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>
	</section>
{% endblock %}
{% block style %}
    <style>
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	{#margin: 10px 0;#}
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}



.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
	color: white;
}


.btn.btn-blue-fill {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
}

.btn.btn-blue-fill:hover {
	color: white;
	background: #00a8ff;
}


/* Sections */
section {
	position: relative;
}

.section {
	padding: 40px 0;
	background: #fff;
}


.team {
	margin: 80px 0;
	padding-bottom: 60px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	border-radius: 50%;
}

.team .title {
	margin: 50px 0;
}
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}



.gray-bg {
	background: #f7f7f7;
}

.muted {
	color: #989da0;
}

{#.margin-top {#}
{#	margin-top: 150px;#}

/* New style to make the avatar (image) smaller */
.avatar.small-image {
    width: 100px; /* Adjust the width as per your requirement */
    height: 100px; /* Adjust the height as per your requirement */
    border-radius: 50%;
    margin-top: -30px;
}

    </style>
{% endblock %}