{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}%}
{% block content %}
<div class="container">
   <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ slogan.image.url }}" alt="{{ slogan.title }}" /></div>
      <div class="col-lg-5">
         <h1 class="font-weight-light">{{ slogan.title }}</h1>
         <p>{{ slogan.description }}</p>
         <a class="btn btn-primary" href="{% url 'register:index' %}">Get Started</a>
      </div>
   </div>
   <!-- Call to Action-->
   <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
         <p class="text-white m-0">
         <p>{{ slogan.note }}</p>
      </div>
   </div>
   <hr>
   <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in queryset %}
      <div class="col">
         <div class="card h-100">
            <div class="card-img-wrapper">
               {% if post.image %}
               <img src="{{ post.image.url }}" class="card-img-top img-fluid rounded-start zoomable-image" alt="{{ post.title }}">
               {% else %}
               <img src="{% static 'assets/img/animal-lg-1.jpg' %}" class="card-img-top img-fluid zoomable-image" alt="Image Null">
               {% endif %}
            </div>
            <div class="card-body">
               <h5 class="card-title">{{ post.title }}</h5>
               <p class="card-text">{{ post.content|truncatechars:150 }}</p>
            </div>
            <div class="card-footer bg-transparent border-success">
               <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal{{ post.id }}">Read More</a>
            </div>
            <div class="card-footer">
               <small class="text-muted">Posted on {{ post.created_on }} by {{ post.author }}</small>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% for post in queryset %}
{#<!-- Modal for Post {{ post.id }} -->#}
<div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" aria-labelledby="postModal{{ post.id }}Label" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title fs-5" id="postModal{{ post.id }}Label">{{ post.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            {{ post.content }}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
{% endfor %}
<style>
   .zoomable-image {
   transition: transform 0.3s;
   cursor: pointer;
   transform-origin: center center;
   width: 100%;
   height: 100%;
   object-fit: cover;
   }
   .card-img-wrapper {
   position: relative;
   padding-bottom: 100%; /* Rapport d'aspect 1:1 */
   overflow: hidden;
   }
   .card-img-wrapper img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   }
   .card-img-wrapper:hover .zoomable-image {
   transform: scale(1.2);
   }
</style>
{% endblock %}
