{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4 mb-5">
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="h-100 bg-light d-flex align-items-center p-5">
          <div class="btn-lg-square bg-white flex-shrink-0">
            <i class="fa fa-map-marker-alt text-primary"></i>
          </div>
          <div class="ms-4">
            <p class="mb-2">
              <span class="text-primary me-2">#</span>Address
            </p>
              {% for address in addresses_ahsm %}
                <h5 class="mb-0">{{ address.lot }} {{ address.street }}</h5>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="h-100 bg-light d-flex align-items-center p-5">
          <div class="btn-lg-square bg-white flex-shrink-0">
            <i class="fa fa-phone-alt text-primary"></i>
          </div>
          <div class="ms-4">
            <p class="mb-2">
              <span class="text-primary me-2">#</span>Call Now
            </p>
              {% for contacts_help in contacts_helps %}
            <h5 class="mb-0">{{ contacts_help.number }}</h5>
              {% endfor %}

          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100 bg-light d-flex align-items-center p-5">
          <div class="btn-lg-square bg-white flex-shrink-0">
            <i class="fa fa-envelope-open text-primary"></i>
          </div>
          <div class="ms-4">
            <p class="mb-2">
              <span class="text-primary me-2">#</span>Mail Now
            </p>
            <h5 class="mb-0">ahsm@gmail.com</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p><span class="text-primary me-2">#</span>Contact Us</p>
        <h1 class="display-5 mb-4">Vous avez une question ? Please Contact Us!</h1>
        <p class="mb-4">
         Veuillez à completer le formulaire de contact est actuel envoyer une quelconque remarque.
        Obtenez le version PDF de notre contact en cliquant sur ce lien suivant :
          <a href="#">Download Now</a>.
        </p>
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control bg-light border-0"
                  id="name"
                  placeholder="Your Name"
                />
                <label for="name">Your Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control bg-light border-0"
                  id="email"
                  placeholder="Your Email"
                />
                <label for="email">Your Email</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control bg-light border-0"
                  id="subject"
                  placeholder="Subject"
                />
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control bg-light border-0"
                  placeholder="Leave a message here"
                  id="message"
                  style="height: 100px"
                ></textarea>
                <label for="message">Message</label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary w-100 py-3" type="submit">
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100" style="min-height: 400px">
             {% for map in maps %}
          <iframe
            class="rounded w-100 h-100"
            src="{{ map }}"
            frameborder="0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}